**

!Dockerfile
!service-registry/target/*.jar
!ConfigServer/target/*.jar
!ProductService/target/*.jar
!PaymentService/target/*.jar
!OrderService/target/*.jar
!UserService/target/*.jar
!CloudGateway/target/*.jar
